matplotlib
pandas
numpy
seaborn
plotly
jupyter
ipython
jupyterlab
missingno
statsmodels
lightgbm
python-dotenv
coloredlogs
tqdm
wheel
click
fire
flake8
black
mypy
pre-commit
fastapi
requests
uvicorn
boto3
botocore
pytest